.THead {
	display: none;
}
.mTopHead {
    display: block;
    position: relative;
}
.MSec {
    padding-top: 0;
}
.ATHUICon {
    display: none;
}
.AWUPSec {
    padding: 4% 5%;
    text-align: center;
}
.APBText01 {
    margin-bottom: 10px;
}
.ABTSec {
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 1% 0;
    font-size: 130%;
}
.APSText02 {
    width: 20%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 7px;
    margin-top: 4px;
    font-size: 65%;
}
.padSec {
    padding: 3%;
}
.ASISecL {
	display: none;
}
.ASISSentR {
	width: 94%;
    margin: 3%;
    color: white;
    text-align: center;
    font-size: 102%;
}
.ASWText {
    font-size: 105%;
}
.ASOText {
    margin-top: 7px;
    font-size: 85%;
    color: #460505;
    font-weight: 200;
}
.mRedCol {
	background-color: darkred;
}
.mBlueCol {
	background-color: darkblue;
}
.AUSDSecL {
    display: none;
}
.AMUSec {
    padding: 5% 4%;
    padding-bottom: 2%;
}
.AUSDSecR {
    width: 100%;
    background-color: #eeeeee;
    margin-bottom: 30px;
    height: 362px;
    float: right;
}
.AUSICon {
    height: 215px;
}
.AUSTDiv {
    margin: 14px 30px;
}
.AUSMCon {
    margin: 12px 0 0 30px;
    padding: 9px;
    border: 1px solid darkred;
    width: 44%;
    color: darkred;
    text-align: center;
}
.AIPSec {
    padding: 4% 6%;
}
.APBext02 {
    margin-bottom: 15px;
}
.AIPBBGmL {
    width: 50%;
    border-bottom: 9px solid white;
}
.AIPRBGmR {
    width: 50%;
    border-bottom: 9px solid white;
}
.APSText04 {
    margin-top: 13px;
}